@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body, html {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background: #fafafa url("../img/bg.png") repeat-x top center;
    color: #1a1a1a;
    line-height: 1.3333rem;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
@keyframes sk-hide {
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}
@keyframes sk-hide2 {
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
        opacity: 0;
    }
}

.wrap {
}

.container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 3.875vw;
}

header {
    height: 16vh;
    padding-top: 7vh !important;
    box-sizing: border-box !important;
}
.logo-img, .logo-text {
    float: left;
    position: relative;
    display: block;
}
.logo-img {
    width: 68px;
    height: 68px;
    border-radius: 34px;
    background-color: #275b4d;
    opacity: 0.6;
    top:-15px;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.logo-img2 {
    width: 68px;
    height: 68px;
    position: absolute;
    border-radius: 34px;
    background-color: #275b4d;
    opacity: 0.6;
    top:calc(7vh - 15px);
    left: 3.875vw;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.logo-img.hide {
    -webkit-animation: sk-hide 1.0s ease-in-out;
    animation: sk-hide 1.0s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.logo-img2.hide {
    -webkit-animation: sk-hide2 1.0s ease-in-out;
    animation: sk-hide2 1.0s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.logo-img img {
    display: none;
    position: absolute;
    width: 50px;
    left:9px;
    top:10px;
    z-index: 1;
}
.logo-text {
    font-size: 38px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 13px;
    display: none;
}
.header-menu {
    float: right;
    padding-top: 5px;
    display: none;
}
.header-menu li {
    float: left;
    margin-left: 4vw;
}
.header-menu li a {
    display: block;
    position: relative;
    height: 24px;
    color: #696969;
    font-weight: 300;
    font-size: 18px;
}
.header-menu li a::after {
    display: block;
    content: '';
    position: absolute;
    width:130%;
    margin-left: -15%;
    margin-top: 2px;
    height: 2px;
    background-color: #578c7f;
    transition: 200ms ease;
    transform: scaleX(0);
}
.header-menu li a:hover::after,
.header-menu li a.current::after  {
    transform: scaleX(1);
}
.header-menu li a.key-icon{
    font-weight: 500;
    text-align: right;
}
.header-menu li a.key-icon span {
    width: 23px;
    height: 23px;
    background-color: #696969;
    border-radius: 50%;
    display: block;
    position: relative;
    float: left;
    top:-3px;
    margin-right: 5px;
    text-align: left;
}
.header-menu li a.key-icon span img {
    width: 17px;
    position: relative;
    top:2px;
    left: 3px;
}

.content {
    position: relative;
    height:calc(84vh - 120px);
    display: none;
}
#particles-js {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
#particles-js canvas {
    height: 100% !important;
}

#slider {
    position: relative;
    z-index: 1;
    width: 82%;
    left: 9%;
    height: 100%;
}
#slider .slides-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
#slider .slides-container figure {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 92%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    animation-name: figure;
    animation-duration: 800ms;
    animation-play-state: paused;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}
#slider .slides-container figure.slide2{
    background-size: contain !important;
    background-position: 0 0;
}
#slider .slides-container figure.slide3{
    background-size: contain !important;
    background-position: 0 0;
}
#slider .slides-container figure.slide4{
    background-size: 65% !important;
    background-position: left center;
}
#slider .slides-container figure.ani,
#slider .slides-container figure.ani figcaption *,
#slider .slides-container figure.ani nav
{
    animation-play-state: running !important;
}
#slider .slides-container figure figcaption {
    position: absolute;
    width:40%;
    height: 100%;
    top:0;
    right:0;
    font-weight: 300;
    text-align: right;
}
#slider .slides-container figure figcaption h2 {
    font-size:5vw;
    padding-top: 5vh;
    animation-name: figcaption;
    animation-delay: 450ms;
    animation-duration: 400ms;
    animation-play-state: paused;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}
#slider .slides-container figure figcaption p {
    width: 50%;
    margin-left: 50%;
    color: #686868;
    font-size: 18px;
    padding-top: 3vh;
    line-height: 1.333em;
    animation-name: figcaption;
    animation-delay: 650ms;
    animation-duration: 400ms;
    animation-play-state: paused;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}
#slider .slides-container figure.slide2 figcaption p {
    width: 100%;
    margin-left: 0;
}
#slider .slides-container figure.slide3 figcaption p {
    width: 70%;
    margin-left: 30%;
}
#slider .slides-container figure.slide4 figcaption p {
    width: 80%;
    margin-left: 20%;
}
#slider .slides-container figure nav {
    position: absolute;
    height: 30px;
    bottom:0;
    width: 100%;
    border-bottom: 2px solid #275b4d;
    animation-name: nav;
    animation-delay: 1000ms;
    animation-duration: 300ms;
    animation-play-state: paused;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}
#slider .slides-container figure nav a {
    display: block;
    position: absolute;
    color:#1a1a1a;
    font-size: 24px;
    font-weight: 300;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
#slider .slides-container figure nav a:hover {
    color: #09ad95;
}
#slider .slides-container figure nav>a:first-child{
    left:10%;
}
#slider .slides-container figure nav>a:nth-child(2){
    left:60%;
}
#slider .slides-container figure nav>a:last-child{
    left:80%;
}
@keyframes figure {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes figcaption {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes nav {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes label {
    0% {
        transform: scale(0,0);
    }
    100% {
        transform: scale(1,1);
    }
}
#slider .slider-navigation {
    position: absolute;
    top:0;
    right:-50px;
    width:50px;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
#slider .slider-navigation li {
    width:10px;
    height: 10px;
    border-radius: 5px;
    margin: 7px auto;
    background-color: #686868;
    transition: 200ms ease;
    cursor: pointer;
}
#slider .slider-navigation li.active,
#slider .slider-navigation li:hover {
    background-color: #275b4d;
}
.label {
    display: inline-block;
    background-color: #ff0000;
    color: #ffffff;
    padding: 9px 24px;
    border-radius: 18px;
    font-weight: 300;
    position: absolute;
    top:0;
    right:0;
    animation-name: label;
    animation-delay: 1000ms;
    animation-duration: 400ms;
    animation-play-state: paused;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}
.btn {
    display: inline-block;
    margin-top: 30px;
    background-color: #275b4d;
    color: #ffffff;
    transition: 200ms ease;
    padding: 9px 24px;
    font-weight: 300;
    border-radius: 30px;
    font-size:28px;
    animation-name: figcaption;
    animation-delay: 1000ms;
    animation-duration: 400ms;
    animation-play-state: paused;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}
.btn:hover {
    background-color: #09ad95;
}


.scroll-icon {
    position: fixed;
    width: 100%;
    bottom: 20px;
    height: 40px;
    text-align: center;
    display: none;
    cursor: pointer;
}
.scroll-icon:hover img {
    top:10px;
}
.scroll-icon img {
    height: 100%;
    top:0;
    position: relative;
    transition: 400ms ease;
    animation-name: scrollIcon;
    animation-duration: 800ms;
    animation-iteration-count: 3;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 1500ms;
}
@keyframes scrollIcon {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
.product-page footer {
    position: static;
    display: none;
}
footer {
    height: 14vh;
    padding: 3vh 3.875vw 0 3.875vw;
    box-sizing: border-box;
    background-color: #275b4d;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom:-14vh;
    transition: 300ms ease;
}
footer.show {
    bottom:0;
}
.footer-logo-img, .footer-logo-text {
    float: left;
    position: relative;
    display: block;
}
.footer-logo-img {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background-color: #ffffff;
    top:-8px;
}
.footer-logo-img img {
    position: absolute;
    width: 30px;
    left:4px;
    top:4px;
    z-index: 1;
}
.footer-logo-text {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 13px;
}
.footer-menu {
    float: right;
    padding-top: 5px;
}
.footer-menu li {
    float: left;
    margin-left: 2vw;
}
.footer-menu li a {
    display: block;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
}
.footer-menu li a::after {
    display: block;
    content: '';
    position: absolute;
    width:130%;
    margin-left: -15%;
    margin-top: 2px;
    height: 2px;
    background-color: #578c7f;
    transition: 200ms ease;
    transform: scaleX(0);
}
.footer-menu li a:hover::after,
.footer-menu li a.current::after  {
    transform: scaleX(1);
}

footer .row {
    clear: both;
}
footer .row .left {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.333em;
    float: left;
}
footer .row .left a {
    color:#ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-right: 3em;
}
footer .row .right {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.333em;
    float: right;
}
footer .row .right a {
    color:#ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-left: 3em;
}
footer .row .right a img {
    width:20px;
    position: relative;
    top:6px;
    margin-right: .333em;
}

/*PRODUCT PAGE*/
.product-page .content {
    height: auto;
}
.product-overview {
    height: 600px;
    position: relative;
    margin-top: 1rem;
}
.product-overview figure {
    height: 100%;
}
.product-overview figure .product-overview-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
    width:55%;
    float: left;
}
.product-overview figure figcaption {
    padding: 0 0 0 3rem;
    box-sizing: border-box;
    width: 45%;
    float: left;
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 300;
    margin-top: 1rem;
}
.product-overview figure figcaption h2 {
    font-size: 48px;
    margin-bottom: 2rem;
}
.product-overview figure figcaption blockquote {
    color: #4e4e4e;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    padding: 1rem 2rem;
    left:-2rem;
    background: url("../img/quote.png") no-repeat top left;
}
.product-overview figure figcaption p {
    margin-bottom: 1.25rem;
}
.product-overview figure figcaption ul {
    margin-top: 1rem;
    margin-left: 1.5rem;
}
.product-overview figure figcaption ul li {
    margin: 0.5rem 1rem;
    list-style: disc;
    color: #275b4d;
}
.product-overview figure figcaption ul li span {
    color: #1f1f1f;
}
.product-overview figure figcaption ol {
    border-left: 2px solid #275b4d;
    margin-top: 2rem;
}
.product-overview figure figcaption ol::after {
    display: block;
    content: '';
    clear: both;
}
.product-overview figure figcaption ol li {
    float: left;
    width:33.333%;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.25em;
    color: #275b4d;
}
.product-overview figure figcaption ol li img {
    height: 60px;
}

.product-overview-icons {
    display: flex;
}
.product-overview-icons::after {
    display: block;
    content: '';
    clear: both;
}
.product-overview-icons>div {
    flex-basis: 33.3333%;
    box-sizing: border-box;
    padding: 2.5rem 1rem 6rem 3rem;
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
}
.product-overview-icons>div>span {
    display: inline-block;
    background-color: #686868;
    flex-basis:75px;
    flex-shrink: 0;
    height: 75px;
    border-radius: 38px;
    margin-right: 1rem;
}
.product-overview-icons>div>span img {
    width: 70%;
    margin: 15%;
}

.product-teaser {
    width: 100%;
    height: 508px;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: none;
    text-align: center;
    box-sizing: border-box;
    padding: 0 20%;
    color: #ffffff;
}
.product-teaser a {
    color: #ffffff;
}
.product-teaser .product-teaser-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,15,10,0.65);
    z-index: 0;
    top:0;
    left:0;
}
.product-teaser h3{
    display: inline-block;
    font-size: 48px;
    padding: 4rem 0 2rem 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.product-teaser p{
    display: inline-block;
    font-weight: 300;
    padding: 2rem 0 1rem 0;
    position: relative;
    z-index: 1;
}
.product-teaser p>a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-teaser p>a span {
    width: 44px;
    flex-basis: 44px;
    flex-shrink: 0;
    height:44px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 1rem;
}
.product-teaser p>a:hover span {
    animation-name: phone;
    animation-duration: .16s;
    animation-iteration-count: 4;
    animation-timing-function: linear;
}
.product-teaser p>a span img {
    width:80%;
    margin: 10%;
}
@keyframes phone {
    0%,100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    75% {
        transform: rotate(20deg);
    }
}

.product-overview-columns {
    max-width: 1200px;
    margin: 2rem auto 4rem auto;
}
.product-overview-columns h2, .product-overview-columns h2+h3 {
    font-size: 48px;
    text-align: center;
    line-height: 1.25em;
    text-transform: uppercase;
}
.product-overview-columns h2+h3 {
    font-weight: 500;
}
.product-overview-columns>div {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding:2rem 1rem .5rem 1rem;
    font-size: 16px;
    line-height: 1.15em;
}
.product-overview-columns>div img {
    width: 160px;
}
.product-overview-columns>div h5 {
    margin: 1rem 0 2rem 0;
    font-size: 30px;
}
.product-overview-columns>div ul {
    list-style-position: outside;
    width: 80%;
    margin-left: 6%;
}
.product-overview-columns>div ul li {
    list-style: disc;
}

.product-overview-columns>section {
    clear: both;
}
.product-overview-columns>section dl {
    float: left;
    width: 21%;
    margin: 0 3% 0 1%;
    box-sizing: border-box;
    padding:.75rem .5rem .5rem 1rem;
    font-size: 16px;
    line-height: 1.15em;
    border-top: 2px solid #2e2e2e;
}
.product-overview-columns>section dl>* {
    float: left;
}
.product-overview-columns>section dl strong {
    font-weight: 500;
}
.product-overview-columns>section .one-fourth,
.product-overview-columns>section .three-fourth {
    float: left;
    width: 21%;
    margin: 0 3% 0 1%;
    box-sizing: border-box;
    padding:.75rem .5rem .5rem 1rem;
    font-size: 16px;
    line-height: 1.15em;
    border-top: 2px solid #c2c1c1;
    color: #c2c1c1;
}
.product-overview-columns>section .three-fourth {
    width: 71%;
}
.product-overview-columns>section::after {
    display: block;
    content: '';
    clear: both;
}
.product-overview-columns>h6 {
    clear: both;
    margin: 1.5rem 0;
    color: #4e4e4e;
    font-size: 24px;
    font-style: italic;
    text-indent: 35px;
    position: relative;
    height: 45px;
    line-height: 45px;
}
.product-overview-columns>h6::before {
    display: block;
    content: '';
    position: absolute;
    width:14px;
    height: 45px;
    top:0;
    left: .75rem;
    background-color: #275b4d;
}
.product-overview2 {
    height: 500px !important;
}
.product-overview2 h2 {
    text-transform: uppercase;
    font-size: 42px !important;
}
.product-overview2 .product-overview-img {
    background-size: cover !important;
}
.product-overview2 p {
    width:75% !important;
}
.product-overview2 ul li {
    width: 70% !important;
    color: #1f1f1f !important;
}

.product-overview-columns2 {
    max-width: 1200px;
    margin: 5rem auto;
}
.product-overview-columns2::after {
    clear: both;
    display: block;
    content: '';
}
.product-overview-columns2>div {
    width: 25%;
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    float: left;
    text-align: center;
    color: #686868;
    font-weight: 300;
}
.product-overview-columns2>div img {
    height: 100px;
    margin-bottom: 2rem;
}