/*MOBILE*/
body {
    font-family: 'Roboto', sans-serif;
    color: #686868;
    font-size: 2.7778vw;
    background-color: #dbdbdb;
    line-height: 1.3333em;
    overflow-x: hidden;
}
section {
    width: 100vw;
    position: relative;
    padding: 0 4.1666vw;
    box-sizing: border-box;
    text-align: center;
}
section nav {
    background-color: #dbdbdb;
    height: 17.778vw;
    box-sizing: border-box;
    padding: 4vw;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 997;
}
section header {
    min-height: 17.778vw;
    box-sizing: border-box;
    padding: 4vw;
}
section nav>div {
    float: left;
    width: 33.3333%;
    text-align: center;
}
section nav>div:first-child {
    text-align: left;
}
section nav>div:last-child {
    text-align: right;
}
section nav a {
    display: inline-block;
    width: 9.778vw;
    height: 9.778vw;
}
section nav a>img {
    height: 100%;
}
section nav a.logo-btn {
    border-radius: 50%;
    background-color: #275b4d;
    position: relative;
    z-index: 9999;
}
section nav a.logo-btn>img {
    height: 76%;
    position: relative;
    top:12%;
}
section nav a.key-btn {
    width: 7.778vw;
    height: 7.778vw;
    margin-top: 1vw;
    border-radius: 50%;
    background-color: #686868;
    text-align: center;
}
section nav a.key-btn>img {
    height: 70%;
    position: relative;
    top:15%;
}
section figure {
    height: 68vw;
    width: 100vw;
    position: relative;
    left:-4.1666vw;
    background-position: center;
    background-size: cover;
}
section h2 {
    font-size: 8vw;
    font-weight: 300;
    color: #2b2b2b;
    line-height: 1em;
}
section h3 {
    font-size: 4vw;
    margin-top: 4vw;
    font-weight: 300;
    line-height: 1.2em;
}
section p {
    margin: 4vw 0;
}
section.slide-1 h3 {
    font-size: 4vw;
    margin-top: 4vw;
    padding: 0 5vw;
    box-sizing: border-box;
}
section p {
    margin: 4vw 0;
    padding: 0 8vw;
    box-sizing: border-box;
}
section footer {
    height: 8.3333vw;
}
section footer div,
section footer img {
    display: block;
    float: left;
}
section footer div {
    width:38.5333vw;
    position: relative;
    height: 2px;
    top:4vw;
    background-color: #686868;
}
section footer img {
    width: 8.3333vw;
    margin: 0 3vw;
}
section>a {
    display: inline-block;
    padding: .2em 0.7em .3em;
    background-color: #275b4d;
    border-radius: 40px;
    font-size: 3vw;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 4vw;
}
section>a img {
    height: 3.3333vw;
    display: inline-block;
    position: relative;
    top:.5vw;
}


.footer {
    height: auto;
    padding: 3vh 3.875vw 0 3.875vw;
    box-sizing: border-box;
    background-color: #275b4d;
    color: #ffffff;
    width: 100%;
    transition: 300ms ease;
    margin-top: 0vw;
}
.footer::after {
    display: block;
    content: '';
    clear: both;
    height: 3vw;
}
.footer-logo-img, .footer-logo-text {
    float: left;
    position: relative;
    display: block;
}
.footer-logo-img {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background-color: #ffffff;
    top:-8px;
}
.footer-logo-img img {
    position: absolute;
    width: 30px;
    left:4px;
    top:4px;
    z-index: 1;
}
.footer-logo-text {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 13px;
    line-height: .8em;
    position: relative;
    top:-4px;
}
.footer-logo-text span {
    font-weight:300;
    font-size: 12px;
}
.footer-menu {
    clear: both;
    padding: 15px 0 0 0;
}
.footer-menu>ul {
    display: flex;
    justify-content: space-around;
}
.footer-menu li {
    position: relative;
}
.footer-menu li>ul {
    display: none;
    background-color: #275b4d;
    position: absolute;
    bottom: 25px;
    left: -5%;
    width: 250%;
    padding: 1rem 0;
    box-sizing: border-box;
    z-index: 9999;
}
.footer-menu li>ul li {
    display: block;
    float: none;
    margin-bottom: .5rem;
}
.footer-menu li a {
    display: block;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    padding-left: 1em;
}
#menu-underlay {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    display: none;
}
.footer-menu li a::after {
    display: block;
    content: '';
    position: absolute;
    width:130%;
    margin-left: -15%;
    margin-top: 2px;
    height: 2px;
    background-color: #578c7f;
    transition: 200ms ease;
    transform: scaleX(0);
}
.footer-menu li ul li a::after {
    display: block;
    content: '';
    position: absolute;
    width:80%;
    margin-left: 0;
    margin-top: -2px;
    height: 2px;
    background-color: #578c7f;
    transition: 200ms ease;
    transform: scaleX(0);
}
.footer-menu li.clicked ul {
    display: block;
}
.footer-menu li a:hover::after,
.footer-menu li a.current::after  {
    transform: scaleX(1);
}

.footer .row {
    clear: both;
    margin-top: 2vw;
}
.footer .row .left {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.333em;
    float: left;
    width: 60%;
    margin: 2vw 0;
}
.footer .row .left a {
    color:#ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-right: 2em;
}
.footer .row .right {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.333em;
    float: left;
    text-align: right;
    width: 40%;
    margin: 2vw 0;
}
.footer .row .right a {
    color:#ffffff;
    font-size: 12px;
    font-weight: 400;
}
.footer .row .right a img {
    width:20px;
    position: relative;
    top:6px;
    margin-right: .333em;
}

#main-menu {
    position: fixed;
    background-color: #252525;
    top:0;
    width: 100vw;
    height: 100vh;
    font-size: 5vw;
    font-weight: 300;
    transition: 350ms ease;
    opacity: 0;
    left: -100vw;
    z-index: 9900;
}
#main-menu.vis {
    left: 0;
    opacity: 1;
}
#main-menu header {
    height: 17.778vw;
    box-sizing: border-box;
    padding: 4vw;
    text-align: left;
}
#main-menu header .close-btn {
    display: inline-block;
    width: 9.778vw;
    height: 9.778vw;
}
#main-menu header a>img {
    height: 100%;
}
#main-menu ul {
    width: 90%;
    margin: auto;
}
#main-menu ul ul {
    width: 90%;
    margin-left: 10%;
    display: none;
}
#main-menu li {
    float: none;
}
#main-menu li a {
    display: block;
    padding: 1em 0;
    color: #FFFFFF;
    border-bottom: 1px solid #aaaaaa;
}
#main-menu li a>span>img {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top:.2em;
    left:.3em;
    transform: rotate(0);
    transition: 200ms ease;
}

#main-menu li.shown a>span>img {
    transform: rotate(180deg);
}
#main-menu li.shown ul {
    display: block;
}

/*ABOUT*/

.about {
    width:100%;
    max-width:1480px;
    position: relative;
    margin: 2rem auto;
    font-weight: 300;
}
.about #particles-js {
    position: absolute;
    z-index: 0;
    background-size: cover !important;
    width:130%;
    height: 100vh;
    margin-left: -15%;
}
.about-header {
    padding: 1.5rem .25rem;
    border-bottom: 2px solid #275b4d;
    position: relative;
    z-index: 999;
}
.about-header::after{
    display: block;
    clear: both;
    content: '';
}
.about h2, .press h2 {
    color: #1f1f1f;
    font-size: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    line-height: 1em;
}
.about h3 {
    color: #275b4d;
    font-weight: 500;
}
.about p {
    color: #58595b;
    margin: 1rem 0;
    font-size: .9rem;
    line-height: 1.15em;
    padding: 0;
    text-align: left;
}
.about-header .about-header-col-1-2 {
    width:98%;
}
.about-header>.about-header-col-1-2:last-child {

}

.about-body {
    margin: 1rem auto;
    padding:1.5rem 0;
    position: relative;
    z-index: 997;
}
.about-body h2, .press h2 {
    text-transform: none;
    text-align: center;
    font-weight:400;
    font-size: 30px;
    margin-bottom: 2rem;
}

.about-body-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.about-body-container .about-team.one-n-only {
    flex-basis: 46%;
    text-align: center;
    line-height: 1.5em;
    margin: 0 22%;
}
.about-body-container .about-team {
    flex-basis: 42%;
    text-align: center;
    line-height: 1.5em;
}
.about-body-container .about-team .about-team-img img {
    border-radius:50%;
    border:4px solid #275b4d;
    width: 100%;
}
.about-body-container .about-team h4 {
    font-size: 1.1rem;
    font-weight:500;
    color: #275b4d;
    margin-top: 1rem;
    line-height: 1em;
}
.about-body-container .about-team h4::after {
    display: block;
    content: '';
    border-bottom: 1px solid #58595b;
    width: 100%;
    margin: auto;
    margin-top: .75rem;
}
.about-body-container .about-team h5 {
    font-size: 1.15rem;
    font-weight:400;
    color: #000;
    margin-top: .75rem;
}
.about-body-container .about-team p {
    text-align: center;
}

.about b {
    font-weight: 700;
}
.about>p {
    position: relative;
    z-index:9999;
}

.product-teaser {
    width: 100%;
    height: 408px;
    background-position: center center;
    background-size: cover;
    position: relative;
    /*display: none;*/
    text-align: center;
    box-sizing: border-box;
    padding: 0 1%;
    color: #ffffff;
}
.product-teaser a {
    color: #ffffff;
    font-size: 1rem;
}
.product-teaser .product-teaser-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,15,10,0.65);
    z-index: 0;
    top:0;
    left:0;
}
.product-teaser h3{
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    padding: 8.5rem 0 0 0;
    position: relative;
    font-weight: 400;
    z-index: 1;
    line-height: 1.333em;
}
.product-teaser h3.smaller{
    display: inline-block;
    font-size: 24px;
    padding: 8.5rem 0 0 0;
    position: relative;
    font-weight: 400;
    text-transform: none;
    z-index: 1;
    line-height: 1.333em;
}
.product-teaser p{
    text-align: center;
    font-weight: 300;
    padding: 1.5rem 0 1rem 0;
    position: relative;
    z-index: 1;
}
.product-teaser p>a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-teaser p>a span {
    width: 44px;
    flex-basis: 44px;
    flex-shrink: 0;
    height:44px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 1rem;/*
    animation-name: phone;
    animation-duration: .16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}
.product-teaser p>a:hover span {
    animation-name: phone;
    animation-duration: .16s;
    animation-iteration-count: 4;
    animation-timing-function: linear;
}
.product-teaser p>a span img {
    width:80%;
    margin: 10%;
}

.phone {
    text-align: left;
}
.phone>a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #686868;
}
.phone>a span {
    width: 44px;
    flex-basis: 44px;
    flex-shrink: 0;
    height:44px;
    border-radius: 50%;
    margin-right: .5rem;
}
.phone>a:hover span {
    animation-name: phone;
    animation-duration: .16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.phone>a span img {
    width:80%;
    margin: 10%;
}

#section-map {
    width: 100%;
    height: 350px;
}
#map {
    width: 100%;
    height: 100%;
}


.product-overview figure figcaption .overview-li {
    margin-bottom: 1rem;
    list-style-type: disc !important;
    padding-left: 1.25rem;
}
.product-overview figure figcaption .overview-li li {
    color: #1f1f1f;
    list-style-type: disc !important;
    display: block;
    line-height: 1.3333rem;
}
.product-overview figure figcaption .overview-li li::before {
    display: inline-block;
    content: '\e800';
    font-family: 'fontello';
    margin-right: .4rem;
    font-size: 1.2em;
    line-height: 1.3333rem;
}

.product-overview-small {
    /*height: 450px;*/
}
.visible {
    display: flex !important;
    height: auto !important;
}


.product-overview-icon-switcher-static::before {
    display: block;
    content: '';
    clear: both;
}
.product-overview-icon-switcher-static {
    display: inline-block;
    height:55px;
    border: 2px solid #686868;
    border-radius: 38px;
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    margin: 2rem auto 2rem auto;
    position: relative;
    font-size: 0;
    text-align: center;
}
.product-overview-icon-switcher-static span {
    display: inline-block;
    position: relative;
    z-index: 2;
    color: #a4a4a4;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
}

/*full specs*/
.product-overview-full-tech {
    width: 100%;
    margin: 1rem auto;
}
.product-overview-full-tech h4 {
    font-size:3.3333vw;
    text-transform: uppercase;
    color: #a4a4a4;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.5em;
}
.product-overview-full-tech h4 a {
    color: #275b4d;
    display: inline-block;
    position: relative;
}
.product-overview-full-tech h4 a span {
    position: absolute;
    width: 100%;
    height: 20px;
    display: inline-block;
    top:60%;
    left: 0;
    text-align: center;
}
.product-overview-full-tech::after,
.product-overview-full-tech-lists::after,
.product-overview-full-tech-lists>ul>li::after
{
    display: block;
    content: '';
    clear: both;
}
.product-overview-full-tech-lists {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 0;
    transition: 500ms ease;
    flex-wrap: wrap;
}
.product-overview-full-tech-lists.shown {
    height: auto;
}
.product-overview-full-tech-lists>ul {
    flex-basis:100%;
    display: flex;
    flex-direction: column;
}
.product-overview-full-tech-lists>ul {
    margin-right: 2rem;
}
.product-overview-full-tech-lists>ul>li {
    flex-basis: 25%;
    float: none;
    width: 100%;
    color: #686868;
    margin: 1rem 0 2rem 0;
}
.product-overview-full-tech ul li h5,
.product-overview-full-tech ul li ul {
    width:50%;
    float: left;
    box-sizing: border-box;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
}
.product-overview-full-tech ul li ul {
    width:50%;
    border-left: 1px solid #686868;
    padding-left: 2rem;
    list-style-type: disc;
    font-weight: 300;
}
.product-overview-full-tech ul li ul li.no-caps {
    text-transform: none;
}

.small-margin {
    margin-top: 0 !important;
}

.product-overview-icon-switcher-static-2 {
    width: 300px;
}

.product-overview-descr-col {
    /*width: 85%;
    margin: 3rem auto;*/
}
.product-overview-descr-col>div {
    /*width:43%;
    float: left;*/
    text-align: left;
    margin-top: 3rem;
}
.product-overview-descr-col>div:last-child {
    /*float: right;*/
}
.product-overview-descr-col::after {
    display: block;
    clear: both;
    content: '';
}
.product-overview-descr-col p {
    color: #58595b;
    font-weight: 300;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.25em;
    padding: 0 2vw;
}
.product-overview-descr-col+h6 {
    clear: both;
    margin: 1rem auto;
    color: #4e4e4e;
    font-weight:300;
    padding-left: 25px;
    position: relative;
    width: 95%;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.25em;
    text-align: left;
}
.product-overview-descr-col+h6::before {
    display: block;
    content: '';
    position: absolute;
    width:14px;
    height: 100%;
    top:0;
    left: 0;
    background-color: #275b4d;
    font-size: 1.15rem;
    line-height: 1.25em;
}
.height2 {
    clear: both;
    height: 2rem;
}


.product-overview {
    position: relative;
    margin-top: 1rem;
    text-align: left;
    padding: 0;
}
.product-overview figure {
    height: 100%;
    width: 100%;
    left: 0;
}
.product-overview figure .product-overview-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vw;
}
.product-overview figure figcaption {
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 300;
    margin-top: 1rem;
    line-height: 1.25em;
}
.product-overview figure figcaption::after {
    display: block;
    content: '';
    clear: both;
}
.product-overview h2 {
    font-size: 10vw;
    margin-bottom: 2rem;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
}

sup {
    font-size:.5em;
    position: relative;
    top:-1em;
}
.product-overview figure figcaption h3.bigger {
    font-size: 48px;
    font-weight:500;
    color: #275b4d;
    line-height: 1em;
}
.product-overview figure figcaption h3 {
    font-size: 30px;
    margin-bottom: 1rem;
    color:#686868;
}
.product-overview figure figcaption h4 {
    font-size: 18px;
    margin-bottom: 1rem;
    color:#275b4d;
    font-weight: 500;
}
.product-overview figure figcaption blockquote {
    display: inline-block;
    color: #4e4e4e;
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    padding: 1rem 2.5rem 1rem 2rem;
    left:-2rem;
    background: url("../img/quote.png") no-repeat top left, url("../img/quote2.png") no-repeat bottom right;
    margin-bottom: 1rem;
}
.product-overview figure figcaption p {
    margin-bottom: 1rem;
    padding: 0;
    text-align: justify;
}
.product-overview figure figcaption p strong {
    font-weight: 500;
}
.product-overview figure figcaption ul {
    margin-top: 1rem;
}
.product-overview figure figcaption ul li {
    /*margin: 0.5rem 0;*/
    color: #275b4d;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.product-overview figure figcaption ul li img {
    width: 40px;
    margin-right: 1rem;
    margin-top: .1rem;
}
.product-overview figure figcaption ul li span {
    color: #1f1f1f;
}
.product-overview figure figcaption ol {
    border-left: 2px solid #275b4d;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.product-overview figure figcaption ol::after {
    display: block;
    content: '';
    clear: both;
}
.product-overview figure figcaption ol li {
    float: left;
    width:33.333%;
    padding: 0 .25rem;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.25em;
    color: #275b4d;
    text-align: center;
}
.product-overview figure figcaption ol li p {
    font-size: .7rem;
    padding: 0 4px;
    text-align: center;
}
.product-overview figure figcaption ol.small h4 {
    padding-left: 1rem;
    font-weight: normal;
    color: #275b4d;
    margin-bottom: 1rem;
}
.product-overview figure figcaption ol.small li {
    width: 23%;
    margin: 0 1%;
    text-align: center;
}
.product-overview figure figcaption ol.small2 li {
    width: 18%;
    margin: 0 1%;
    text-align: center;
}
.product-overview figure figcaption ol.small li p {
    font-size: .8rem;
    text-align: center;
}
.product-overview figure figcaption ol.small2 li p {
    font-size: .7rem;
    line-height: 1.25em;
    text-align: center;
}
.product-overview figure figcaption ol li img {
    width: 65%;
}
.product-overview figure figcaption ol li.small img {
    width: 80%;
}

.product-overview-icons {
    display: flex;
    transition: 500ms ease;
    overflow: hidden;
    justify-content: center;
}/*
.product-overview-icons::after {
    display: block;
    content: '';
    clear: both;
}*/
.product-overview-icons.big {
    flex-wrap: wrap;
}
.product-overview-icons.big p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.25em;
}
.product-overview-icons.big>div {
    flex-basis: 100%;
    box-sizing: border-box;
    padding: 1.5rem 1rem 2rem 1rem;
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: flex-start;
}
.product-overview-icons>div {
    flex-basis: 33.3333%;
    box-sizing: border-box;
    padding: 2.5rem 1rem 6rem 3rem;
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
}
.product-overview-icons.small {
    margin: auto;
}
.product-overview-icons.small>div {
    float: left;
    flex-direction: column;
    width: 23%;
    margin: 0 1%;
    box-sizing: border-box;
    padding: 1rem 0;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    line-height: 1.1em;
}
.product-overview-icons.small>div p {
    font-size: 2.5vw;
    line-height: 1.3em;
    padding: 0;
    margin: 0;
}
.product-overview-icons.small.ten>div {
    flex-basis: 10%;
}
#icons-quick {
}
.product-overview-icons.small>div p>span {
    text-transform: none;
}
.product-overview-icons>div>span {
    background-color: #686868;
    flex-basis:75px;
    flex-shrink: 0;
    border-radius: 38px;
    width: 100%;
}
.product-overview-icons.small>div>span{
    background-color: transparent;
    text-align: center;
    margin-bottom: .5rem;
}
.product-overview-icons>div>span img {
    width: 60%;
    margin: 15% !important;
}
.product-overview-icons.small>div>span img {
    width: 80%;
    margin: 0 10% !important;
}
section.header {
    height: 66px;
}

.sketchfab-embed-wrapper {
    height: 70vw;
}
.sketchfab-embed-wrapper iframe {
    width: 100%;
    height: 100%;
}


.products-testimonial {
    width: 96%;
    margin: 4rem auto;
    position: relative;
    height: 320px;
    clear: both;
    /*display: none;*/
}
.products-testimonial .arrow-prev,
.products-testimonial .arrow-next {
    display: block;
    position: absolute;
    min-height: 150px;
    height: 100%;
    width: 42px;
    background: url("../svg/products/arrow-next2.png") center space no-repeat;
    background-size: contain;
    top:0;
    right:0;
    opacity: .35;
}
.products-testimonial .arrow-prev {
    background-image: url("../svg/products/arrow-prev2.png");
    left: 0;
}
.products-testimonial ul {
    width: 80%;
    position: relative;
    margin: 0 auto;
    height: 100%;
    /*background: url("../img/quote-big-1.png") no-repeat 0 0, url("../img/quote-big-2.png") no-repeat 100% 100%;*/
}
.products-testimonial ul li::before {
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    background: url("../img/quote-big-1.png") no-repeat 0 0;
}
.products-testimonial ul li::after {
    display: block;
    content: '';
    width: 100%;
    height: 50px;
    background: url("../img/quote-big-2.png") no-repeat 100% 100%;
}
.products-testimonial ul li {
    position: absolute;
    top:0;
    left:0;
    font-size: 1rem;
    font-weight: 300;
    color: #4e4e4e;
    font-style: italic;
    height: 100%;
    display: none;
    opacity: 0;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    line-height: 1.333em;
    width: 90%;
    margin-left:5%;
}
.products-testimonial ul li span {
    font-weight: 500;
    font-style: normal;
    display: block;
    margin-top: 1rem;
}
.products-testimonial ul li:first-child {
    display: flex;
    opacity: 1;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    background-color: #275b4d;
    color: #ffffff;
    transition: 200ms ease;
    padding: 9px 24px;
    font-weight: 300;
    border-radius: 30px;
    font-size:18px;
    animation-name: figcaption;
    animation-delay: 1000ms;
    animation-duration: 400ms;
    animation-play-state: paused;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    position: relative;
    line-height: 1em;
}
.btn:hover {
    background-color: #09ad95;
}
.btn.orange {
    background-color: #ff4e00;
}
.btn.orange:hover {
    background-color: #ff9800;
}


.btn-no-ani {
    animation: none !important;
}

.magic-wheel {
    width: 96%;
    margin: 2rem auto;
    height: auto !important;
    color: #58595b;
    font-size: 14px;
    line-height: 1.25em;
    text-align: left;
}
.magic-wheel::after {
    display: block;
    content: '';
    clear: both;
}
.magic-wheel h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
    line-height: 1em;
    margin-top: 0;
}
.magic-wheel h4 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
    line-height: 1em;
}
.magic-wheel h5 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: .333rem;
    line-height: 1em;
}
.plant {
    margin-bottom: 1rem;
}
.plant-self {
    /*height: 184px;*/
}
.plant-self::after {
    clear: both;
    display: block;
    content: '';
}
.magic-wheel-headers {
    float: left;
    width: 33%;
}
.magic-wheel-headers-2 {
    width: 100%;
}
.magic-wheel-headers>div {
    padding-left: .5rem;
    border-left: 2px solid #275b4d;
    margin-bottom: 2rem;
}
.magic-wheel-headers-2>div {
    float: left;
    width: 30%;
}
.magic-wheel-headers>div p {
    width:98%;
    font-size: 2.65vw;
    line-height: 1.25em;
    padding: 0;
    margin: 0;
}
.magic-wheel-arrow {
    width: 33%;
    float: left;
}
.magic-wheel-arrow img {
    max-width: 100%;
    max-height: 100%;
}/*
.magic-wheel-figure {
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-direction: column;
}
.magic-wheel-figure>div {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.magic-wheel-figure>div>img {
    margin-bottom: 1rem;
}
.magic-wheel-figure>div.w60 {
    flex-basis: 60px;
}*/
.magic-wheel-results {
     float: left;
     width: 32%;
     margin: 0 auto;
     margin-left: 1%;
 }

.magic-wheel-results {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.magic-wheel-results-2 .result {
    width: 31.333% !important;
    margin: 0 1%;
}
.magic-wheel-results .result p {
    margin: 0;
    padding: 0;
    font-size: 2.65vw;
    line-height: 1.25em;
}
.magic-wheel-results .result>div {
    flex-basis: 96%;
}
.magic-wheel-results .result>div.result-marker {
    flex-basis: 25%;
}
.magic-wheel-results::after {
    display: block;
    content: '';
    clear: both;
}

.magic-wheel-wheel {
    display: flex;
    width: 100%;
    flex-grow: 0;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}
.magic-wheel-results .result[class*="-res"] {
    float: left;
    width: 33%;
}
.magic-wheel-wheel img {
    width: 90%;
}
.magic-wheel-headers>div.green-mark {
    border-color: #a4cf27;
}
.magic-wheel-headers>div.green-mark h3 {
    color: #a4cf27;
    font-size: 1rem;
}
.magic-wheel-headers>div.yellow-mark {
    border-color: #eeb11a;
}
.magic-wheel-headers>div.yellow-mark h3 {
    color: #eeb11a;
}
.magic-wheel-headers>div.red-mark {
    border-color: #ea4748;
}
.magic-wheel-headers>div.red-mark h3 {
    color: #ea4748;
}
.magic-wheel-headers>div.purple-mark {
    border-color: #7864ac;
}
.magic-wheel-headers>div.purple-mark h3 {
    color: #7864ac;
}

.result-marker {
    font-size: .85rem;
    position: relative;
}
.result-marker i {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top:-.3rem;
    left: -1.8rem;
    font-size: 2rem;
}
.result-marker b {
    color: #7864ac;
    font-size: 1rem;
    font-weight: 500;
}
.result-marker>div {
    height: 1.5rem;
    width: 40%;
    float: left;
    background-color: #275b4d;
    margin-bottom: .5rem;
}
.result-marker>span {
    display: block;
    float: left;
    width: 50%;
    font-size:2.6vw;
    line-height: 1.2em;
    padding-left: 1vw;
}
.yellow-res .result-marker>div {
    background-color: #eeb11a;
}
.yellow-res .result-marker i,
.yellow-res h4 {
    color: #eeb11a;
}
.magenta-res .result-marker>div {
    background-color: #ff1272;
}
.magenta-res .result-marker i,
.magenta-res h4 {
    color: #ff1272;
}
.purple-res .result-marker>div {
    background-color: #fd15fd;
}
.purple-res .result-marker i,
.purple-res h4 {
    color: #fd15fd;
}
#res4 {
    float: left;
    width: 31% !important;
}
#res5 {
    float: left;
    width: 64% !important;
    padding-top: 2rem;
    margin: 0;
    margin-right: 2%;
}
#res5 img {
    margin-right: .333rem;
}
#res5 p {
    display: flex;
    align-items: center;
    color: #275b4d;
}
.clearfix {
    clear: both;
}
.magic-wheel-legend {
    clear: both;
    width: 100%;

}
.magic-wheel-legend>ul {
    width: 100%;
}
.magic-wheel-legend>ul,
.magic-wheel-legend li,
.magic-wheel-legend>p {
    display: flex;
    align-items: center;
}
.magic-wheel-legend li {
    flex-basis: 15%;
    flex-grow: 0;
}
.magic-wheel-legend li,
.magic-wheel-legend>p>img {
    margin-right: .5rem;
}
.magic-wheel-legend>p {
    align-items: stretch;
}
.magic-wheel-legend li img {
    width: 8vw;
    height: 8vw;
    margin:0 0.3rem 0 0;
}
.magic-wheel-legend li p {
    padding: 0;
    font-size: 3vw;
    line-height: 1em;
}
.markered li {
    list-style: disc !important;
    color: #1f1f1f !important;
    padding-left: 1rem;
    font-size: 1rem;
    margin-bottom: .5rem;
}
.markered li::before {
    display: inline-block;
    content: '\e800';
    font-family: 'fontello';
    margin-right: .4rem;
    font-size: 1.2em;
    line-height: 1.3333rem;
}

.download-pdf img {
    height: 3rem;
    margin-top: 1rem;
}


/**/
.product-overview-range {
    margin-bottom:4rem;
}
.product-overview-range * {
    line-height: 1.25em;
}
.product-overview-range h2 {
    font-weight: 500;
    font-size:46px;
    color: #275b4d;
    text-transform: uppercase;
}
.product-overview-range h3 {
    font-weight: 400;
    font-size:24px;
    color: #58595b;
    text-transform: uppercase;
}
.range-graph {
    height: 2px;
    background-color: #275b4d;
    margin: 1rem 0 5rem 0;
    position: relative;
}
.range-graph::before {
    position: absolute;
    display: block;
    content: '';
    background-color: #275b4d;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top:-15px;
    left: -31px;
}
.range-graph ul {
    width:48%;
    position: absolute;
    right:0;
}
.range-graph ul li {
    float: left;
    width:33%;
    text-align: center;
    font-size: 18px;
    color: #58595b;
    font-weight: 400;
    padding: 1.5rem 0;
    position: relative;
    line-height: .75em;
}
.range-graph ul li::before {
    position: absolute;
    display: block;
    content: '';
    background-color: #275b4d;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top:-9px;
    left: 50%;
    margin-left: -10px;
}
.range-descr::after {
    display: block;
    content: '';
    clear: both;
}
.range-descr-img {
    float: left;
    width:50%;
    height:350px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8%;
}
.range-descr-txt {
    float: left;
    width:39%;
    padding-top: 3rem;
    color: #1f1f1f;
    font-size: 1.15rem;
}
.range-descr-txt p {
    margin-bottom: 2rem;
}
.range-descr-txt .marked {
    position: relative;
    padding-left: 2rem;
    line-height: 2rem;
}
.range-descr-txt .marked::before{
    display: block;
    content: '';
    position: absolute;
    width:1rem;
    height: 2rem;
    background-color: #275b4d;
    top:0;
    left:0;
}