/*MOBILE*/
body {
    font-family: 'Roboto', sans-serif;
    color: #686868;
    font-size: 2.7778vw;
    background-color: #dbdbdb;
    line-height: 1.3333em;
    overflow-x: hidden;
}
section {
    width: 100vw;
    position: relative;
    padding: 0 4.1666vw;
    box-sizing: border-box;
    text-align: center;
}
section nav {
    background-color: #dbdbdb;
    height: 17.778vw;
    box-sizing: border-box;
    padding: 4vw;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 997;
}
section header {
    min-height: 17.778vw;
    box-sizing: border-box;
    padding: 4vw;
}
section nav>div {
    float: left;
    width: 33.3333%;
    text-align: center;
}
section nav>div:first-child {
    text-align: left;
}
section nav>div:last-child {
    text-align: right;
}
section nav a {
    display: inline-block;
    width: 9.778vw;
    height: 9.778vw;
}
section nav a>img {
    height: 100%;
}
section nav a.logo-btn {
    border-radius: 50%;
    background-color: #275b4d;
    position: relative;
    z-index: 9999;
}
section nav a.logo-btn>img {
    height: 76%;
    position: relative;
    top:12%;
}
section nav a.key-btn {
    width: 7.778vw;
    height: 7.778vw;
    margin-top: 1vw;
    border-radius: 50%;
    background-color: #686868;
    text-align: center;
}
section nav a.key-btn>img {
    height: 70%;
    position: relative;
    top:15%;
}
section figure {
    height: 68vw;
    width: 100vw;
    position: relative;
    left:-4.1666vw;
    background-position: center;
    background-size: cover;
}
section h2 {
    font-size: 8vw;
    font-weight: 300;
    color: #2b2b2b;
    line-height: 1em;
}
section h3 {
    font-size: 4vw;
    margin-top: 4vw;
    font-weight: 300;
    line-height: 1.2em;
}
section p {
    margin: 4vw 0;
}
section.slide-1 h3 {
    font-size: 4vw;
    margin-top: 4vw;
    padding: 0 5vw;
    box-sizing: border-box;
}
section p {
    margin: 4vw 0;
    padding: 0 8vw;
    box-sizing: border-box;
}
section footer {
    height: 8.3333vw;
}
section footer div,
section footer img {
    display: block;
    float: left;
}
section footer div {
    width:38.5333vw;
    position: relative;
    height: 2px;
    top:4vw;
    background-color: #686868;
}
section footer img {
    width: 8.3333vw;
    margin: 0 3vw;
}
section>a {
    display: inline-block;
    padding: .2em 0.7em .3em;
    background-color: #275b4d;
    border-radius: 40px;
    font-size: 3vw;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 4vw;
}
section>a img {
    height: 3.3333vw;
    display: inline-block;
    position: relative;
    top:.5vw;
}


.footer {
    height: auto;
    padding: 3vh 3.875vw 0 3.875vw;
    box-sizing: border-box;
    background-color: #275b4d;
    color: #ffffff;
    width: 100%;
    transition: 300ms ease;
    margin-top: 10vw;
}
.footer::after {
    display: block;
    content: '';
    clear: both;
    height: 3vw;
}
.footer-logo-img, .footer-logo-text {
    float: left;
    position: relative;
    display: block;
}
.footer-logo-img {
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background-color: #ffffff;
    top:-8px;
}
.footer-logo-img img {
    position: absolute;
    width: 30px;
    left:4px;
    top:4px;
    z-index: 1;
}
.footer-logo-text {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 13px;
    line-height: .8em;
    position: relative;
    top:-4px;
}
.footer-logo-text span {
    font-weight:300;
    font-size: 12px;
}
.footer-menu {
    clear: both;
    padding: 15px 0 0 0;
}
.footer-menu>ul {
    display: flex;
    justify-content: space-around;
}
.footer-menu li {
    position: relative;
}
.footer-menu li>ul {
    display: none;
    background-color: #275b4d;
    position: absolute;
    bottom: 25px;
    left: -5%;
    width: 250%;
    padding: 1rem 0;
    box-sizing: border-box;
    z-index: 9999;
}
.footer-menu li>ul li {
    display: block;
    float: none;
    margin-bottom: .5rem;
}
.footer-menu li a {
    display: block;
    position: relative;
    height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    padding-left: 1em;
}
#menu-underlay {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    display: none;
}
.footer-menu li a::after {
    display: block;
    content: '';
    position: absolute;
    width:130%;
    margin-left: -15%;
    margin-top: 2px;
    height: 2px;
    background-color: #578c7f;
    transition: 200ms ease;
    transform: scaleX(0);
}
.footer-menu li ul li a::after {
    display: block;
    content: '';
    position: absolute;
    width:80%;
    margin-left: 0;
    margin-top: -2px;
    height: 2px;
    background-color: #578c7f;
    transition: 200ms ease;
    transform: scaleX(0);
}
.footer-menu li.clicked ul {
    display: block;
}
.footer-menu li a:hover::after,
.footer-menu li a.current::after  {
    transform: scaleX(1);
}

.footer .row {
    clear: both;
    margin-top: 2vw;
}
.footer .row .left {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.333em;
    float: left;
    width: 60%;
    margin: 2vw 0;
}
.footer .row .left a {
    color:#ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-right: 2em;
}
.footer .row .right {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.333em;
    float: left;
    text-align: right;
    width: 40%;
    margin: 2vw 0;
}
.footer .row .right a {
    color:#ffffff;
    font-size: 12px;
    font-weight: 400;
}
.footer .row .right a img {
    width:20px;
    position: relative;
    top:6px;
    margin-right: .333em;
}

#main-menu {
    position: fixed;
    background-color: #252525;
    top:0;
    width: 100vw;
    height: 100vh;
    font-size: 5vw;
    font-weight: 300;
    transition: 350ms ease;
    opacity: 0;
    left: -100vw;
    z-index: 9900;
}
#main-menu.vis {
    left: 0;
    opacity: 1;
}
#main-menu header {
    height: 17.778vw;
    box-sizing: border-box;
    padding: 4vw;
    text-align: left;
}
#main-menu header .close-btn {
    display: inline-block;
    width: 9.778vw;
    height: 9.778vw;
}
#main-menu header a>img {
    height: 100%;
}
#main-menu ul {
    width: 90%;
    margin: auto;
}
#main-menu ul ul {
    width: 90%;
    margin-left: 10%;
    display: none;
}
#main-menu li {
    float: none;
}
#main-menu li a {
    display: block;
    padding: 1em 0;
    color: #FFFFFF;
    border-bottom: 1px solid #aaaaaa;
}
#main-menu li a>span>img {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top:.2em;
    left:.3em;
    transform: rotate(0);
    transition: 200ms ease;
}

#main-menu li.shown a>span>img {
    transform: rotate(180deg);
}
#main-menu li.shown ul {
    display: block;
}