.magic-wheel {
    width: 94%;
    margin: 2rem auto;
    height: auto !important;
    color: #58595b;
    font-size: 14px;
    line-height: 1.25em;
}
.magic-wheel h3 {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
    line-height: 1em;
}
.magic-wheel h4 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
    line-height: 1em;
}
.magic-wheel h5 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1em;
}
.plant {
    display: flex;
    margin-bottom: 4rem;
}
.plant-self {
    height: 184px;
}
.magic-wheel-headers {
    align-self: flex-start;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
}
.magic-wheel-headers>div {
    padding-left: 1.8rem;
    border-left: 2px solid #275b4d;
    margin-bottom: 2rem;
}
.magic-wheel-headers>div p {
    width:90%;
}
.magic-wheel-arrow {
    flex-basis: 5%;
    text-align: left;
}
.magic-wheel-arrow img {
    height: 100%;
}
.magic-wheel-figure {
    display: flex;
    flex-basis: 41%;
    justify-content: space-around;
}
.magic-wheel-figure>div {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.magic-wheel-figure>div>img {
    margin-bottom: 1rem;
}
.magic-wheel-figure>div.w60 {
    flex-basis: 60px;
}
.magic-wheel-results {
    flex-basis: 24%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.magic-wheel-results .result {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.magic-wheel-results .result>div {
    flex-basis: 70%;
}
.magic-wheel-results .result>div.result-marker {
    flex-basis: 25%;
}
.magic-wheel-wheel {
    display: flex;
    flex-basis: 46%;
    flex-grow: 0;
    justify-content: space-around;
    align-items: center;
}
.magic-wheel-wheel img {
    width: 90%;
}
.magic-wheel-headers>div.green-mark {
    border-color: #a4cf27;
}
.magic-wheel-headers>div.green-mark h3 {
    color: #a4cf27;
}
.magic-wheel-headers>div.yellow-mark {
    border-color: #eeb11a;
}
.magic-wheel-headers>div.yellow-mark h3 {
    color: #eeb11a;
}
.magic-wheel-headers>div.red-mark {
    border-color: #ea4748;
}
.magic-wheel-headers>div.red-mark h3 {
    color: #ea4748;
}
.magic-wheel-headers>div.purple-mark {
    border-color: #7864ac;
}
.magic-wheel-headers>div.purple-mark h3 {
    color: #7864ac;
}
.yellow-res


.rule-box {
    position: absolute;
    top: 100px;
    left: 50px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #444;
}
.rule-box h4 {
    color: #BBB;
    font-size: 14pt;
    margin: 0;
    padding: 10px;
    background-color: #333;
}
#rules {
    color: #AAA;
    margin: 0;
    padding: 10px;
    list-style: none;
}
#rules li {
    cursor: pointer;
    margin: 10px;
}
#rules li:hover {
    color: #DDD;
}
#rules li.active, #rules li.active:hover {
    color: #EEE;
}

.canvas {
    text-align: center;
}

.samples {
    text-align: center;
}
.samples .col {
    width: 225px;
    display: inline-block;
    color: #CBCBCB;
    font-family: "Courier New", Courier, monospace;
    background-color: #555;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin-left: -4px;
}
.samples .col:first-of-type {
    margin-left: 0;
}
.samples .selected {
    border: 1px solid #FFF;
}
.samples .input-group {
    margin: 5px auto;
}
.samples .input-group input[type="text"] {
    color: #CBCBCB;
    font-size: 85%;
    text-align: center;
    padding: 6px 0;
    background-color: #222;
    border: 0 none;
}
.samples .hex {
    width: 98px;
}
.samples .rgb {
    width: 30px;
    margin-left: -6px;
}
.samples .rgb:first-of-type {
    margin-left: 0;
}
.samples .sample {
    height: 175px;
}
.result-marker {
    font-size: .85rem;
    position: relative;
}
.result-marker i {
    display: block;
    position: absolute;
    top:-.3rem;
    left: -2rem;
    font-size: 2rem;
}
.result-marker b {
    color: #7864ac;
    font-size: 1rem;
    font-weight: 500;
}
.result-marker>div {
    height: 1.5rem;
    background-color: #275b4d;
    margin-bottom: .5rem;
}
.yellow-res .result-marker>div {
    background-color: #eeb11a;
}
.yellow-res .result-marker i,
.yellow-res h4 {
    color: #eeb11a;
}
.magenta-res .result-marker>div {
    background-color: #ea4748;
}
.magenta-res .result-marker i,
.magenta-res h4 {
    color: #ea4748;
}
.purple-res .result-marker>div {
    background-color: #7864ac;
}
.purple-res .result-marker i,
.purple-res h4 {
    color: #7864ac;
}

.magic-wheel-legend {
    display: flex;
    justify-content: space-between;
}
.magic-wheel-legend>ul,
.magic-wheel-legend li,
.magic-wheel-legend>p {
    flex-basis: 45%;
    display: flex;
    align-items: center;
}
.magic-wheel-legend li,
.magic-wheel-legend>p>img {
    margin-right: 1rem;
}
.magic-wheel-legend>p {
    align-items: stretch;
}
.magic-wheel-legend li img {
    width: 40px;
    height: 40px;
    margin:0 0.5rem;
}
